
name: Web Automation Framework

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
    workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
    #download repo
    - name : Check Repo
      uses: actions/checkout@v4

    #Setup Java
    - name: Set up JDK 17
      uses: actions/setup-java@v4
      with:
        java-version: '17'
        distribution: 'temurin'

    # install browser 
      - name: Setup Chrome
        uses: browser-actions/setup-chrome@v2.1.0
    
    #setup gradlew
      - name : Setup Gradle
        run : chmod +x gradlew

    #execute gradle command for running cucumber test
      - name : execute test 
        run : ./gradlew cucumber
